{% extends "todo_app/base.html" %}

{% block title %}
ABOUT PAGE
{% endblock title %}

{% block content %}
<figure class="text-center">
    <blockquote class="blockquote">
      <h1>To-Do List</h1>
    </blockquote>
     <p>This is To-Do List for Python Django Web Development</p>
     <p>You can use this TO-DO list for you django projects</p>
     <p>Just follow the list</p>
     <p>If you follow this list correctly, You will not make mistakes</p>
     <p>You can update anything</p>
     <button type="button" class="btn btn-outline-danger">Create TO-DO List</button>
    </figcaption>
  </figure>
{% endblock content %}